:root {
    --navyblue: #2E2F42;
    --iris: #4D5AE5;
    --slate: #434455;
    --ocean: #404BBF;
    --cornflower: #E7E9FC;
    --white: #fff;
    --black: #000;
    --cloud: #F4F4FD;
}
body {font-family: 'Roboto', sans-serif;
        color: var(--navyblue, #2E2F42);
    
}

.logo {font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        line-height: 1.17;
    }

.logo-blue-web {color:var(--iris, #4D5AE5);
    }

.navigation {list-style: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
}

.navigation-item{ text-decoration: none;
                    color: inherit}

.contacts {list-style: none;}

.contacts-item{color: var(--slate, #434455);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    }

.contacts-item:hover, .contacts-item:focus {color:var(--iris, #4D5AE5);}

.hero-section {background-color: var(--navyblue, #2E2F42);
            color: var(--white, #FFF);
            font-size: 56px;
            line-height: 1.07;
        }

.order-button {background-color:var(--iris, #4D5AE5);
                font-family: 'Roboto', sans-serif;
                color:var(--white, #FFF);
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;}

.order-button:hover, .order-button:focus {cursor: pointer;}

.values-list {list-style: none;
                font-size: 20px;
             line-height: 1.2;}
.values-description {font-size: 16px;
                    color:var(--slate, #434455);
                    line-height: 1.5;}
.our-work-title{font-size: 36px;
                line-height: 1.1;}
.our-work-list{list-style: none; }
.team-title {font-size: 36px;
            line-height: 1.1;
            }
.team-list{ list-style: none;
            font-size: 20px;
            line-height: 1.2;}
.team-member-position{font-size: 16px;
                    color:var(--slate, #434455);
                    line-height: 1.5;}
.bottom-page {color: var(--cloud, #F4F4FD);
                background-color: var(--navyblue, #2E2F42);}                    
.footer-description {font-size:  16px;
                    line-height: 1.5;
                    }
.filter-list{list-style: none;}
.filter-button{font-family: 'Roboto', sans-serif;
                background-color: var(--cloud, #F4F4FD);
                border: 1px solid var(--cornflower, #E7E9FC);
                color:var(--iris, #4D5AE5);
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
            }
.filter-button:hover, 
.filter-button:focus {  cursor: pointer;
                        background-color:var(--ocean, #404BBF);
                        color:var(--white, #FFF);}
.projects-list{list-style: none;
                font-size: 20px;
                line-height: 1.2;}
.project-type{ font: size 16px;
                color: var(--slate, #434455);
                line-height: 1.5;}
            