:root {
    --navyblue: #2E2F42;
    --iris: #4D5AE5;
    --slate: #434455;
    --ocean: #404BBF;
    --cornflower: #E7E9FC;
    --white: #fff;
    --black: #000;
    --cloud: #F4F4FD;
}
body {font-family: 'Roboto', sans-serif;
        color: var(--navyblue);
    
}
.navigation-bar {border-bottom: 1px solid var(--cornflower);
                background: var(--white);}
.logo {font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        line-height: 1.17;
    }

.logo-blue-web {color:var(--iris);
    }
.logo:hover, .logo:focus {color: var(--ocean);}

.navigation {list-style: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
}

.navigation-item{ text-decoration: none;
                    color: inherit;}
.navigation-item:hover, .navigation-item:focus {color: var(--iris);}

.contacts {list-style: none;}

.contacts-item{color: var(--slate);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    }

.contacts-item:hover, .contacts-item:focus {color:var(--iris);}

.hero-section {background-color: var(--navyblue);
            color: var(--white);
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07;
        }

.order-button {background-color:var(--iris);
                font-family: 'Roboto', sans-serif;
                color:var(--white);
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;}

.order-button:hover, .order-button:focus {cursor: pointer;
                                            color: var(--iris);
                                            background-color: var(--cloud);}

.values-list {list-style: none;
                font-size: 20px;
             line-height: 1.2;}
.values-description {font-size: 16px;
                    color:var(--slate);
                    line-height: 1.5;}
.our-work-title{font-size: 36px;
                line-height: 1.1;}
.our-work-list{list-style: none; }
.team{ background: var(--cloud);}
.team-title {font-size: 36px;
            line-height: 1.1;
            }
.team-list{ list-style: none;
            font-size: 20px;
            line-height: 1.2;}
.team-member-position{font-size: 16px;
                    color:var(--slate);
                    line-height: 1.5;}
.bottom-page {color: var(--cloud);
                background-color: var(--navyblue);}                    
.footer-description {font-size:  16px;
                    line-height: 1.5;
                    }
.filter-list{list-style: none;}
.filter-button{font-family: 'Roboto', sans-serif;
                background-color: var(--cloud);
                border: 1px solid var(--cornflower);
                color:var(--iris);
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
            }
.filter-button:hover, 
.filter-button:focus {  cursor: pointer;
                        background-color:var(--ocean);
                        color:var(--white);}
.projects-list{list-style: none;
                font-size: 20px;
                line-height: 1.2;}
.project-type{ font: size 16px;
                color: var(--slate);
                line-height: 1.5;}
            